h1.rojo {
    background-color: #8B0000;
}
.grisOscuro {
    background-color: #424242;
}
.grisClaro {
    background-color: #757575;
}
.azulRey {
    background-color: #1E3A8A;
}
.blancoSuave {
    background-color: #E0E0E0;
}